.background-images img {
  height: 874px;
}

.background-image-1-right {
  position: absolute;
  right: 0;
}

.background-image-2-right {
  position: absolute;
  right: 22vw;
}

.background-image-1-arthur {
  position: absolute;
  left: 0;
  top: 312vh;
}

.background-image-2-arthur {
  position: absolute;
  left: 22vw;
  top: 312vh;
}

.background-image-1-epee {
  position: absolute;
  left: 0;
  top: 482.5vh;
}

.background-image-2-epee {
  position: absolute;
  left: 22vw;
  top: 482.5vh;
}
