.button-nav {
  font-size: 20px;
  text-align: center;
}

.button-buy button {
  font-family: "Enchanted land";
  font-size: 32px;
  border-radius: 10px;
  background: var(--red, #b00042);
  padding: 5px 28px;
}
