.card-character-ysa {
  display: flex;
  background: var(
    --bg-ysa,
    linear-gradient(180deg, rgba(0, 0, 0, 0) 27.5%, rgba(42, 14, 108, 0.2) 91%),
    #7c113f
  );
  padding-bottom: 197px;
}

.card-character-arthur {
  display: flex;
  background: var(
    --bg-arthur,
    linear-gradient(180deg, rgba(255, 0, 0, 0) 0%, rgba(253, 0, 0, 0.13) 85.5%),
    #3d1f85
  );
  padding-bottom: 264px;
}

.card-character-baron {
  display: flex;
  background: var(
    --bg-baron,
    linear-gradient(0deg, rgba(0, 25, 52, 0.35) 0%, rgba(0, 25, 52, 0.35) 100%),
    linear-gradient(
      180deg,
      rgba(0, 157, 255, 0) 0%,
      rgba(56, 74, 187, 0.25) 100%
    ),
    #95c2f1
  );
  padding-bottom: 335px;
}

.card-character-epee {
  display: flex;
  background: var(
    --bg-pe,
    linear-gradient(
      180deg,
      rgba(255, 0, 0, 0) 38%,
      rgba(118, 18, 18, 0.15) 100%
    ),
    #a3852e
  );
  padding-bottom: 230px;
}
