.case-1ere img {
  width: 1259px;
  // max-width: 90%;
  // margin-left: 91px;
  margin-top: 340px;
}

.case-1 {
  display: flex;
  justify-content: center;
  // scroll-behavior: smooth;
}

.case-2 img {
  margin-top: 166px;
  width: 1440px;
  max-width: 100%;
}

.case-2 {
  display: flex;
  justify-content: center;
}

.case-3 img {
  width: 922px;
  margin-top: 265px;
}

.case-3 {
  display: flex;
  justify-content: center;
}

.case-4 img {
  width: 650px;
  margin-top: 145px;
  // margin-left: 395px;
}

.case-4 {
  display: flex;
  justify-content: center;
}

.case-5 img {
  width: 340px;
  margin-top: 103px;
}

.case-5 {
  display: flex;
  justify-content: center;
}

.case-6 img {
  width: 1067px;
  max-width: 100%;
  margin-top: 103px;
}

.case-6 {
  position: relative;
  display: flex;
  justify-content: center;
}

.case-7 img {
  margin-top: 405px;
  width: 1440px;
}

.case-7 {
  display: flex;
  justify-content: center;
}

.case-8 img {
  position: absolute;
  width: 747px;
  max-width: 50%;
  top: 88px;
  left: 30px;
}

.case-8 {
  position: relative;
}

.case-9 img {
  position: absolute;
  width: 747px;
  max-width: 50%;
  top: 710px;
  right: 30px;
}

.case-9 {
  position: relative;
  z-index: 1;
}

.case-10 img {
  position: absolute;
  width: 747px;
  max-width: 50%;
  top: 1275px;
  left: 30px;
}

.case-10 {
  position: relative;
}

.case-11 img {
  margin-top: 2055px;
  // max-width: 104%;
  width: 1440px;
}

.case-11 {
  position: relative;
  display: flex;
  justify-content: center;
}
