.case-1 img {
  width: 1259px;
  max-width: 90%;
  margin-left: 91px;
  margin-top: 340px;
}

.case-1 {
  position: relative;
}

.case-2 img {
  margin-top: 166px;
  width: 1440px;
  max-width: 100%;
}

.case-2 {
  position: relative;
}
