.description-left {
  margin: 238px 930px 0 60px;
  font-family: "Katari", " Modern Antiqua ", serif;
}

.description-text {
  font-size: 24px;
}

.description-right {
  margin: 238px 60px 0 930px;
  font-family: "Katari", " Modern Antiqua ", serif;
}
