.object img {
  width: 30%;
}

.object-2-big img {
  width: 30%;
  margin-top: 30vh;
  margin-left: 15vh;
}

.object-2-small img {
  width: 15%;
  margin-top: 50vh;
  margin-right: 80vh;
}

.object-3-left img {
  margin-left: 10vw;
}

.object-3-right img {
  margin-left: 120vh;
  margin-top: 70vh;
}

.object-4-center img {
  margin-top: 60vw;
  margin-left: 40vh;
  width: 50%;
}

.object-5-center img {
  margin-top: 110vh;
  margin-left: 25vw;
}

.object-11-left img {
  width: 50vh;
}

.object-wrapper {
  display: flex;
  margin: 100px 0;
}

.object-wrapper ~ .object-wrapper {
  justify-content: end;
}

.object {
  opacity: 0;
  margin-top: -1000px;
}
