.personnage img {
  height: 874px;
}

.personnage-ysabelle {
  position: absolute;
  top: 210vh;
  right: -23vh;
  color: white;
  font-family: Enchanted land;
  font-size: 300px;
  transform: rotate(90deg);
}

.personnage-arthur {
  position: absolute;
  top: 310vh;
  left: -15vh;
  color: white;
  font-family: Enchanted land;
  font-size: 300px;
  transform: rotate(90deg);
}

.personnage-baron {
  position: absolute;
  top: 411vh;
  right: -23vh;
  color: white;
  font-family: Enchanted land;
  font-size: 300px;
  transform: rotate(90deg);
}

.personnage-epee {
  position: absolute;
  top: 514vh;
  left: -10vh;
  color: white;
  font-family: Enchanted land;
  font-size: 300px;
  transform: rotate(90deg);
}
