.section-acheter {
  background-color: black;
  position: relative;
}

.section-flexbox {
  display: flex;
}

.section-acheter img {
  width: 395px;
  margin-right: 96px;
}

.section-buttons button {
  font-family: "Enchanted Land";
  font-size: 48px;
  margin-right: 131px;
}

.section-buttons {
  position: absolute;
  bottom: 17vh;
  left: 20vh;
}

.section-button-1:hover {
  text-decoration: underline;
}
