@font-face {
  font-family: "Enchanted land";
  src: url("../font/enchanted\ land/enchanted_land-webfont.woff2")
      format("woff2"),
    url("../font/enchanted\ land/enchanted_land-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

p {
  color: white;
  font-size: 27px;
}

img,
video {
  display: block;
}

nav {
  position: fixed;
  width: 100%;
  padding-top: 20px;
  z-index: 1;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 60.5%
  );
}

button {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
  font-family: "Katari", " Modern Antiqua ", serif;
  background-color: transparent;
  border: none;
  color: white;
}

body {
  background: #25000b;
}

$furieuseHeight: 1547px;

#furieuse {
  height: $furieuseHeight;
  overflow: hidden;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

#furieuse,
.layer {
  min-height: 800px;
}

#bulle-left-1 img {
  position: absolute;
  top: 700vh;
  margin-left: 30px;
}

#bulle-right-2 img {
  position: absolute;
  top: 790vh;
  right: 5vh;
}
